In [1]:
print(123123123123123123 + 1)

123123123123123124

In [2]:
print(10)
print(type(10))

10
<class 'int'>

In [3]:
print(4.2)
print(type(4.2))

print(4.0)

print(.2)

print(.4e7)

print(4.2e-4)

4.2
<class 'float'>
4.0
0.2
4000000.0
0.00042

In [5]:
print("Hacktive8")
print(type("Hacktive8"))

Hacktive8
<class 'str'>

In [13]:
print("This string contains a single quotes (') character.")
print('This string contains a single quotes (") character.')

This string contains a single quotes (') character.
This string contains a single quotes (") character.

In [14]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [15]:
n = 300
print(n)

300

In [16]:
n

300

In [17]:
n = 1000
print(n)

n

1000

1000

In [19]:
a = b = c = 300
print(a, b, c)

300 300 300

In [1]:
var = 23.5
print(var)

var = "now I'm a string"
print(var)

23.5
now I'm a string

In [2]:
name = "Hactive8"
Age = 54
has_laptops = True
print(name, Age, has_laptops)

Hactive8 54 True

In [3]:
9_kepala_naga = True

SyntaxError: invalid decimal literal (687628429.py, line 1)

In [4]:
age = 1
Age = 2
aGe = 3
AGE = 4
a_g_e = 5
_age = 6
age_ = 7
_AGE_ = 8

print(age, Age, aGe, AGE, a_g_e, _age, age_, _AGE_)

1 2 3 4 5 6 7 8

In [5]:
a = 10
b = 20
a + b

30

In [6]:
a = 10
b = 20
a + b - 5

25

In [7]:
# here are some examples of these operators in use:

a = 4
b = 3

print(a + b)
print(a - b)
print(a * b)
print(a % b)
print(a ** b)

7
1
12
1
64

In [8]:
# The result of standard division (/) is always a float, even if the dividend is evenly divisible by the divisor:

10/5

2.0

In [10]:
# Here are examples of the comparison operators in use:

a = 10
b = 20
print(a == b)

print(a !=b)

print(a <= b)

print(a >= b)


a = 30
b = 30
print(a == b)

print(a <= b)

print(a >= b)

False
True
True
False
True
True
True

In [11]:
# + Operators
s = 'foo'
t ='bar'
u ='baz'

print(s + t)

print(s + t + u)

print('Hactive8' + 'PTP')

foobar
foobarbaz
Hactive8PTP

In [13]:
# * Operators

s = 'foo,'

s * 4

'foo,foo,foo,foo,'

In [15]:
# in Operators

s = 'foo'

print(s in 'That food for us')

print(s in 'That good for us')

True
False

In [16]:
# Case Conversion
s = 'Hactive8'

# Capitalize
print(s.capitalize())

# Lower
print(s.lower())

# Swapcase
print(s.swapcase())

# Title
print(s.title())

# Uppercase
print(s.upper())

Hactive8
hactive8
hACTIVE8
Hactive8
HACTIVE8

In [17]:
a = ['foo', 'bar', 'baz', 'qux']

print(a)

['foo', 'bar', 'baz', 'qux']

In [18]:
a = ['foo', 'bar', 'baz', 'qux']
b = ['baz', 'qux', 'bar', 'foo']

a == b

False

In [19]:
a =[21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

print(a)

[21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

In [21]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a[0])
print(a[5])

foo
corge

In [23]:
print(a[-1])
print(a[-6])

corge
foo

In [27]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

a[2:5]

['baz', 'qux', 'quux']

In [30]:
# The concatenation (+) and replication (*) operators:

print(a)

print(a + ['grault', 'garply'])
print(a * 2)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [31]:
# len(), min(), max()

print(a)

print(len(a))
print(min(a))
print(max(a))

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
6
bar
qux

In [32]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a)

a[2]= 10
a[-1] = 10

print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 10, 'qux', 'quux', 10]

In [33]:
# A list imen can be deleted with the del command:

del a[3]

print(a)

['foo', 'bar', 10, 'quux', 10]

In [34]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a[1:4])

a[1:4] = [1.1, 2.2, 3.3, 4.4, 5.5]

print(a)

['bar', 'baz', 'qux']
['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'quux', 'corge']

In [36]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

print(t)

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

In [37]:
print(t[0])
print(t[-1])

foo
corge

In [38]:
# packing and unpacking:

(s1, s2, s3, s4) = ('foo', 'bar', 'baz', 'qux')

s1

'foo'

In [42]:
MLB_team = {

'Colorado': 'Rockies',
'Boston': 'Red Sox',
'Minnesota': 'Twins',
'Milwaukee': 'Brewers',
'Seattle': 'Mariners'

}

In [44]:
print(MLB_team['Minnesota'])
print(MLB_team['Colorado'])

# error
# (MLB_team['Toronto'])

Twins
Rockies

In [45]:
# Adding an entry to an existing dictionary is simple matter of assigning a new key and value:

MLB_team['Kansas City'] = 'Royals'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners',
 'Kansas City': 'Royals'}

In [50]:
# If you want to update an entry, you can just assign a new value to an existing key:

MLB_team['Seattle'] = 'Seahawks'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Seahawks',
 'Kansas City': 'Royals'}

In [52]:
# To deletd an entry, use del statement, specifying the key to delete:

del MLB_team['Seattle']
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Kansas City': 'Royals'}

In [65]:
person = {}
type(person)

person['fname'] = 'hack'
person['lname'] = 'PTP'
person['age'] = 5
person['spouse'] = 'Edna'
person['children'] = ['Ralph', 'Betty', 'Joey']
person['pets'] = {'dog': 'Fido', 'cat': 'sox'}

person

{'fname': 'hack',
 'lname': 'PTP',
 'age': 5,
 'spouse': 'Edna',
 'children': ['Ralph', 'Betty', 'Joey'],
 'pets': {'dog': 'Fido', 'cat': 'sox'}}

In [56]:
print(person['fname'])
print(person['lname'])

hack
PTP

In [58]:
print(person['children'])
print(person['children'][1])

['Ralph', 'Betty', 'Joey']
Betty

In [66]:
print(person['pets'])
print(person['pets']['cat'])

{'dog': 'Fido', 'cat': 'sox'}
sox

In [67]:
# Built in Methods:
d = {'a': 10, 'b': 20, 'c': 30}

# items
print(d.items())

# keys
print(d.keys())

# values
print(d.values())

dict_items([('a', 10), ('b', 20), ('c', 30)])
dict_keys(['a', 'b', 'c'])
dict_values([10, 20, 30])

In [90]:
person1_age = 42
person2_age = 16
person3_age = 71

someone_is_of_working_age = (person1_age >= 18 and person1_age <= 65) or(person2_age >= 18 and person2_age <= 65) or (person3_age >= 18 and person3_age <= 65)

someone_is_of_working_age

True

In [91]:
someone_is_of_working_age = (
   ( person1_age >= 18 and person1_age <= 65) 
or(person2_age >= 18 and person2_age <= 65) or 
(person3_age >= 18 and person3_age <= 65)
)
someone_is_of_working_age

True

In [ ]:
# Finish